.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculadora{
    border-radius: 15px;
    border: solid rgb(48, 46, 43);
    border-width: 5px;
    display: grid; /*distribuye mi contenido visualmente en una cuadrícula*/
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows:50px 50px 50px 50px 50px 50px; 
    padding: 15px;
    background: rgb(183, 182, 181);
    box-shadow: 5px 5px 3px 2px rgb(129, 129, 126);

}

button{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-radius: 7px;
    border: outset;
    background-color: rgb(195, 192, 192);
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    box-shadow: 2px 2px 1px 1px rgb(129, 129, 126);
}

.display{
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    grid-column: span 4;
    border-radius: 5px;
    margin-bottom: 5px;
    background: rgb(255, 255, 255);
    padding: 10px 10px 2% 0px;
    text-align: right;
}

#borrar{
    grid-column: span 2;
    background-color: rgb(232, 44, 11);
}

#num0{
    grid-column: span 2;
}

#igual{
    background-color: rgb(18, 165, 26);
}

button:hover{
    background-color: rgb(235, 244, 236);
}
button:active{
    background-color: rgb(129, 129, 129);
    color: white;
    font-weight: 10px;
}
